# **DATA ANALYSIS process**

#### **Ask**
* Ask effective questions
* Define the problem
* Use structured thinking
* Communicate with others

#### **Prepare**
* Undestand how data is generated and collected
* Identify and use different data formats, types, and structures
* Make sure data is unbiased and credible
* Organize and protect data

#### **Process**
* Create and transform data
* Maintain data integrity
* Test data
* Clean data
* Verify and report on cleaning results

#### **Analyze**
* Use tools to format and transform data
* Sort and filter data
* Identify patterns and draw conclusions
* Make predictions and recommendations
* Make data-driven decisions

#### **Share**
* Understand visualization
* Create effective visuals
* Bring data to life
* Use data storytelling
* Communicate to help others understand results

#### **Act**
* Apply your insights
* Solve problems
* Make decisions
* Create something new

----------------------------------------------------------
## *TIPS*

* Have methods for everything you do 
* Always document what you do
* Manage expepectations
* 2 minutes rule 
    - If some task can be done within 2 minutes, always do it.
* Take time to understand the problem and plan the next steps
* Always doublecheck your work
* Mistakes will happen eventually
    - Try to keep it cool and work through it 
* **Always formalize and or document dates, deliverables and deadlines. (SCOPE OF WORK)**
------------------------------------------------------------


## Scope of work

**Data team:** (Team members)


**Client/Sponsor/Stakeholders:** (Stakeholders)


**Purpose:** Write a brief description of why this project is happenning. *Why is this project happening? What are the goals?* 


**Scope / Major Project Activities:** 
*What are the major parts of this project? List out the high-level steps, activities, or stages of the project, and give a brief description for each.*

Activity | Description
--- | ---
activity_1 | description_1


**This project does not include:**
*Specify the things that this project isn’t responsible for doing (out of scope).*
* Out of scope 1
* Out of scope 2


**Deliverables:** 
*A specific list of things that your project will deliver.*

Deliverable | Description/ Details
--- | ---
deliverable_1 | description_1


**Schedule Overview / Major Milestones:** 
*The expected schedule for the project. This can be defined by milestones (e.g. “all data is cleaned and processed”), periods of time (“Week 1 / Week 2”), or other ways based on the needs of the project.*

Milestone | Expected Completion Date* | Description/Details
--- | --- | ---
milestone_1 | date_1 | description_1

*Estimated date for completion: This is my “if all goes well and I have everything I need, this is when I’ll be done” date.

**Always manage expectations**

----------------------------------------------------------------------------

### **1. Ask**
* Ask effective questions
* Define the problem
* Use structured thinking
* Communicate with others

.-----------------------------------------------------------------------------------------------------

### **2. Collect**
* Undestand how data is generated and collected
* Identify and use different data formats, types, and structures

In [1]:
# IMPORTS 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##### Importing data via connection with RDBMS

##### Connect to the PostgreSQL server

In [2]:
import psycopg2

# Connect to the PostgreSQL server
# connection = psycopg2.connect(
#     host="localhost",       # or your PostgreSQL server's IP address
#     database="your_db_name", # replace with your database name
#     user="your_username",    # replace with your database username
#     password="your_password" # replace with your database password
# )

# Create a cursor object to interact with the database
# cursor = connection.cursor()

# Create a table
# cursor.execute('''
# CREATE TABLE IF NOT EXISTS users (
#     id INT AUTO_INCREMENT PRIMARY KEY,
#     name VARCHAR(100),
#     age INT
# )
# ''')

# Commit the changes
# connection.commit()

# Insert data into the table
# cursor.execute("INSERT INTO users (name, age) VALUES (%s, %s)", ("John Doe", 30))

# Commit the transaction
# connection.commit()

# Query data from the table
# cursor.execute("SELECT * FROM users")

# Fetch all results
# rows = cursor.fetchall()

# Print the results
# for row in rows:
#     print(row)

# Close the cursor and connection
# cursor.close()
# connection.close()

##### Connect to the MySQL

In [3]:
import mysql.connector

In [4]:
# Establish the connection to MySQL
# connection = mysql.connector.connect(
#     host="localhost",        # or your MySQL server's IP address
#     database="your_db_name", # replace with your database name
#     user="your_username",    # replace with your MySQL username
#     password="your_password" # replace with your MySQL password
# )

# Create a cursor object to interact with the database
# cursor = connection.cursor()


# Close the cursor and connection
# cursor.close()
# connection.close()

##### Connect to MongoDB

In [5]:
from pymongo import MongoClient

In [ ]:
# # Put this on the .env file and use load_dotenv() to retrive
# # Replace with your actual MongoDB credentials and database details
# username = 'your_username'
# password = 'your_password'
# host = 'localhost'  # or remote MongoDB host
# port = '27017'  # default port
# database_name = 'your_database'  # database you want to connect to
# auth_db = 'admin'  # database where credentials are stored (often 'admin')

# # Create the connection string with authentication
# connection_string = f'mongodb://{username}:{password}@{host}:{port}/{database_name}?authSource={auth_db}'

# # Connect to MongoDB using the connection string
# client = MongoClient(connection_string)

# # Access the database
# db = client[database_name]

# # Check the connection by getting server status
# try:
#     # Attempt to retrieve the server status to verify the connection
#     server_status = db.command("serverStatus")
#     print("Connection successful:", server_status)
# except Exception as e:
#     print("Error connecting to MongoDB:", e)

# # Close the connection
# client.close()

# Check documentation if something is wrong:https://www.mongodb.com/resources/languages/python

##### Connect to SAS using SASPy

In [6]:
# import saspy
# Find the configuration file (saspy.py) or create a new one if necessary.
# Modify it with the connection details:
# saspy.SAS_config_names = ['sas_config']

# sas_config = {
#     'sas_config': {
#         'saspath': '/path/to/sas',
#         'options': ["-fullstimer"],
#         'encoding': 'latin1'
#     }
# }
# Replace '/path/to/sas' with the actual path to your SAS executable

# sas = saspy.SASsession(cfgname='sas_config')  # Use the configuration you set up
# sas.submit("data test; input x; datalines; 1; 2; 3; run;")  # Example SAS code
# sas.saslib('test')  # Access the dataset

#### Connecting Python with AWS step-by-step

1. Install Boto3
`pip install boto3`

2. Set up AWS Credentials
    * AWS CLI
        * bash command: 
            - aws configure

    * Manually Set AWS Credentials
        * C:\Users\Name\\.aws\credentials
            - [default]
            - aws_access_key_id = YOUR_ACCESS_KEY
            - aws_secret_access_key = YOUR_SECRET_KEY
    
    * Environment Variables
        * bash command: 
            - export AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
            - export AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
            - export AWS_DEFAULT_REGION=us-west-2

In [7]:
import boto3
from dotenv import load_dotenv
import os

# Load .env credentials
load_dotenv()

# Credentials in a file .env
ACCESS_KEY=os.environ.get("ACCESS_KEY")
SECRET_KEY = os.environ.get("SECRET_KEY")

# Create a Boto3 session
session = boto3.Session(
    aws_access_key_id=ACCESS_KEY,
    aws_secret_access_key=SECRET_KEY,
    region_name="sa-east-1"
)

# session= None # optional, don't need to explicit close the session.

#### Reading a CSV file

In [8]:
# dataframe
df = pd.read_csv("../Data/data_for_da/BankChurners.csv")

# show first 5 
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

#### Reading a JSON file

In [28]:
# dataframe
df = pd.read_json("../Data/data_for_da/db_json_example.json")

# show first 5 
print(df.head())
# Checking one item
df['_default'][1]

                                            _default
1  {'title': 'Num🅱er One', 'thumbnail': {'thumbna...
2  {'title': 'Got ‘em', 'thumbnail': {'thumbnail'...
3  {'title': '50-0', 'thumbnail': {'thumbnail': '...
4  {'title': 'Allow', 'thumbnail': {'thumbnail': ...
5  {'title': '*mild concern*', 'thumbnail': {'thu...

{'title': 'Num🅱er One',
 'thumbnail': {'thumbnail': 'https://b.thumbs.redditmedia.com/FAS_fWvrpmzuPN6Rh67I9ahmovzoe-titgZNilnewpk.jpg',
  'height': 121,
  'width': 140},
 'created_utc': 1502621109.0,
 'author': 'DrarenThiralas',
 'id': '6tehbc',
 'ups': 87082,
 'downs': 0,
 'media': 'https://i.redd.it/7wgs4dkiihfz.png'}

#### Reading a Excel file

In [29]:
# df = pd.read_excel("<excel file path>")

#### Interacting with web APIs

In [31]:
import requests

# site you want to access
url = "<site_url>"

# # response
# response = requests.get(url)

.---------------------------------------------------------------------------------------------------

### **3. Cleaning and Tansforming**

* **Remove major errors, duplicates, and outliers**
* **String manipulation** - Correct the string data (lower, fixing typos or layout issues, capitalize)
* **Transforming the necessary fields** - Transform the data, split fields, concatenate fields, transform fields, substitute NaN values or place than when necessary ...
* **Filling missing gaps** - utilize *FFNN*, forward fill, mean values, median values, subtitute a string field with a similary field, backward fill, interpolation, multiple imputation,K-Nearest Neighbors Imputations (KNNImputer), ...

In [1]:
# # To use this cell just -->   ctrl + /

# import re # for regex cleaning

# # Commads to clean data 

# # Drop NA values
# df = df.dropna() # Save to a new df, same df or save inplace
# # The same as 
# df[df.notnull()]

# # Drop columms
# df = df.drop(columns = "<Column_you_dont_want>")

# # Fill NA 
# new_df = df.fillna() # complete with args you want ffll, bbll ...
# df.fillna('')


# # Check if theres is null
# df.isnull()

# # Check if not null
# df.notnull()

# # Removing duplicates
# df.drop_duplicates()
# df.drop_duplicates(["<some_key>"])

# # Lowering case string
# lower = df['<field_name>'].str.lower()

# # endswith / startswitch / contains
# df.str.endswith('<pattern_value>')
# df.str.startswith('<pattern_value>')
# df.str.contains('<pattern_value>')

# # join method
# # find method

# # Using map function to map values
# df['<field_name>'].map(lambda x: <dictionary_name>[x.lower()])

# # Replace values
# df['<field_name>'] = df['<field_name>'].replace({"<value_1>": "<new_value_1>","<value_2>": "<new_value_2>"})
# df.replace("<value>", "<new_value>")
# df['<phone_number>'] = df['<phone_number>'].str.replace('[^a-zA-Z0-9]','') # regex style
# df['<phone_number>'].apply(lambda x: str(x))
# df['<phone_number>'].apply(lambda x: x[:3]+"-"+x[3:6]+"-")

# # Split string data
# df[['<new_collumn_name_1>','<new_collumn_name_2>']] = df['<field_name>'].str.split("<symbol_you_want_to_spli>", expand=True)
# df[['<new_collumn_name_1>','<new_collumn_name_2>']] = df['<field_name>'].str.split("<symbol_you_want_to_spli>",n=1, expand=True)

# # Striping
# df['<field_name>'] = df['<field_name>'].str.lstrip("<string_you_want_to_remove>")
# df['<field_name>'] = df['<field_name>'].str.rstrip("<string_you_want_to_remove>")
# df['<field_name>'] = df['<field_name>'].str.strip("<string_you_want_to_remove>")

# # Regex methods usinf re or str
# # .findall()
# # .finditer()
# # .match()
# # .search()
# # .split()
# # .sub
# # .subn

In [ ]:
# # Transforming data
# # Few of the tansformations 

# # Changing data types
# df.astype({'<column_you_want_to_change>': '<type_you_want'})

# # Encoding/ One-hot-encode (transformin categorical / string/ tokens variables to numerical)
# dummies = pd.get_dummies(data="<df["column"]>", prefix="<String to append DataFrame column names>", dtype="<type_variable(int,float,...)")
# df_dummies = pd.concat([df, dummies], axis=1)
# # or
# df_dummies = df.join(dummies)

# df = pd.get_dummies(df, columns=['<coloumn_name)'])
# # OneHotEncoder() from Sklearn library

# # Data binning
# # Continuos data can be separated in bins
# bins = [10, 30, 45, 60, 100]
# new_df["<new_column>"] = pd.cut(data=df['<column>'], bins=bins, precision=2)
# # bins with quantils
# new_data = pd.qcut(data=df['<column>'], q=<number_of_quantiles>)
# new_data = pd.qcut(data=df['<column>'], q=<number_of_quantiles>, labels=["<label_1>", "<label_2>","<label_3>"])

# # Scaling


# # Conditional Filtering data

# #

# Everything about data
---
This is a repository that serves to gather knowledge of data and others subjects.