# **DATA ANALYSIS process**

#### **Ask**
* Ask effective questions
* Define the problem
* Use structured thinking
* Communicate with others

#### **Prepare**
* Undestand how data is generated and collected
* Identify and use different data formats, types, and structures
* Make sure data is unbiased and credible
* Organize and protect data

#### **Process**
* Create and transform data
* Maintain data integrity
* Test data
* Clean data
* Verify and report on cleaning results

#### **Analyze**
* Use tools to format and transform data
* Sort and filter data
* Identify patterns and draw conclusions
* Make predictions and recommendations
* Make data-driven decisions

#### **Share**
* Understand visualization
* Create effective visuals
* Bring data to life
* Use data storytelling
* Communicate to help others understand results

#### **Act**
* Apply your insights
* Solve problems
* Make decisions
* Create something new

----------------------------------------------------------
## *TIPS*

* Have methods for everything you do 
* Always document what you do
* Manage expepectations
* 2 minutes rule 
    - If some task can be done within 2 minutes, always do it.
* Take time to understand the problem and plan the next steps
* Always doublecheck your work
* Mistakes will happen eventually
    - Try to keep it cool and work through it 
* **Always formalize and or document dates, deliverables and deadlines. (SCOPE OF WORK)**
------------------------------------------------------------


## Scope of work

**Data team:** (Team members)


**Client/Sponsor/Stakeholders:** (Stakeholders)


**Purpose:** Write a brief description of why this project is happenning. *Why is this project happening? What are the goals?* 


**Scope / Major Project Activities:** 
*What are the major parts of this project? List out the high-level steps, activities, or stages of the project, and give a brief description for each.*

Activity | Description
--- | ---
activity_1 | description_1


**This project does not include:**
*Specify the things that this project isn’t responsible for doing (out of scope).*
* Out of scope 1
* Out of scope 2


**Deliverables:** 
*A specific list of things that your project will deliver.*

Deliverable | Description/ Details
--- | ---
deliverable_1 | description_1


**Schedule Overview / Major Milestones:** 
*The expected schedule for the project. This can be defined by milestones (e.g. “all data is cleaned and processed”), periods of time (“Week 1 / Week 2”), or other ways based on the needs of the project.*

Milestone | Expected Completion Date* | Description/Details
--- | --- | ---
milestone_1 | date_1 | description_1

*Estimated date for completion: This is my “if all goes well and I have everything I need, this is when I’ll be done” date.

**Always manage expectations**

----------------------------------------------------------------------------

### **1. Ask**
* Ask effective questions
* Define the problem
* Use structured thinking
* Communicate with others

.-----------------------------------------------------------------------------------------------------

### **2. Collect**
* Undestand how data is generated and collected
* Identify and use different data formats, types, and structures

In [1]:
# IMPORTS 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##### Importing data via connection with RDBMS

##### Connect to the PostgreSQL server

In [2]:
import psycopg2

# Connect to the PostgreSQL server
# connection = psycopg2.connect(
#     host="localhost",       # or your PostgreSQL server's IP address
#     database="your_db_name", # replace with your database name
#     user="your_username",    # replace with your database username
#     password="your_password" # replace with your database password
# )

# Create a cursor object to interact with the database
# cursor = connection.cursor()

# Create a table
# cursor.execute('''
# CREATE TABLE IF NOT EXISTS users (
#     id INT AUTO_INCREMENT PRIMARY KEY,
#     name VARCHAR(100),
#     age INT
# )
# ''')

# Commit the changes
# connection.commit()

# Insert data into the table
# cursor.execute("INSERT INTO users (name, age) VALUES (%s, %s)", ("John Doe", 30))

# Commit the transaction
# connection.commit()

# Query data from the table
# cursor.execute("SELECT * FROM users")

# Fetch all results
# rows = cursor.fetchall()

# Print the results
# for row in rows:
#     print(row)

# Close the cursor and connection
# cursor.close()
# connection.close()

##### Connect to the MySQL

In [3]:
import mysql.connector

In [4]:
# Establish the connection to MySQL
# connection = mysql.connector.connect(
#     host="localhost",        # or your MySQL server's IP address
#     database="your_db_name", # replace with your database name
#     user="your_username",    # replace with your MySQL username
#     password="your_password" # replace with your MySQL password
# )

# Create a cursor object to interact with the database
# cursor = connection.cursor()


# Close the cursor and connection
# cursor.close()
# connection.close()

##### Connect to MongoDB

In [5]:
from pymongo import MongoClient

In [6]:
# # Put this on the .env file and use load_dotenv() to retrive
# # Replace with your actual MongoDB credentials and database details
# username = 'your_username'
# password = 'your_password'
# host = 'localhost'  # or remote MongoDB host
# port = '27017'  # default port
# database_name = 'your_database'  # database you want to connect to
# auth_db = 'admin'  # database where credentials are stored (often 'admin')

# # Create the connection string with authentication
# connection_string = f'mongodb://{username}:{password}@{host}:{port}/{database_name}?authSource={auth_db}'

# # Connect to MongoDB using the connection string
# client = MongoClient(connection_string)

# # Access the database
# db = client[database_name]

# # Check the connection by getting server status
# try:
#     # Attempt to retrieve the server status to verify the connection
#     server_status = db.command("serverStatus")
#     print("Connection successful:", server_status)
# except Exception as e:
#     print("Error connecting to MongoDB:", e)

# # Close the connection
# client.close()

# Check documentation if something is wrong:https://www.mongodb.com/resources/languages/python

##### Connect to SAS using SASPy

In [7]:
# import saspy
# Find the configuration file (saspy.py) or create a new one if necessary.
# Modify it with the connection details:
# saspy.SAS_config_names = ['sas_config']

# sas_config = {
#     'sas_config': {
#         'saspath': '/path/to/sas',
#         'options': ["-fullstimer"],
#         'encoding': 'latin1'
#     }
# }
# Replace '/path/to/sas' with the actual path to your SAS executable

# sas = saspy.SASsession(cfgname='sas_config')  # Use the configuration you set up
# sas.submit("data test; input x; datalines; 1; 2; 3; run;")  # Example SAS code
# sas.saslib('test')  # Access the dataset

#### Connecting Python with AWS step-by-step

1. Install Boto3
`pip install boto3`

2. Set up AWS Credentials
    * AWS CLI
        * bash command: 
            - aws configure

    * Manually Set AWS Credentials
        * C:\Users\Name\\.aws\credentials
            - [default]
            - aws_access_key_id = YOUR_ACCESS_KEY
            - aws_secret_access_key = YOUR_SECRET_KEY
    
    * Environment Variables
        * bash command: 
            - export AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
            - export AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
            - export AWS_DEFAULT_REGION=us-west-2

In [ ]:
import boto3
from dotenv import load_dotenv
import os

# Load .env credentials
load_dotenv()

# Credentials in a file .env
ACCESS_KEY=os.environ.get("ACCESS_KEY")
SECRET_KEY = os.environ.get("SECRET_KEY")

# # Uncomment to use this part
# # Create a Boto3 session
# session = boto3.Session(
#     aws_access_key_id=ACCESS_KEY,
#     aws_secret_access_key=SECRET_KEY,
#     region_name="sa-east-1"
# )

# session= None # optional, don't need to explicit close the session.

#### Reading a CSV file

In [9]:
# dataframe
df = pd.read_csv("../Data/data_for_da/BankChurners.csv")

# show first 5 
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

#### Reading a JSON file

In [10]:
# dataframe
df = pd.read_json("../Data/data_for_da/db_json_example.json")

# show first 5 
print(df.head())
# Checking one item
df['_default'][1]

                                            _default
1  {'title': 'Num🅱er One', 'thumbnail': {'thumbna...
2  {'title': 'Got ‘em', 'thumbnail': {'thumbnail'...
3  {'title': '50-0', 'thumbnail': {'thumbnail': '...
4  {'title': 'Allow', 'thumbnail': {'thumbnail': ...
5  {'title': '*mild concern*', 'thumbnail': {'thu...

{'title': 'Num🅱er One',
 'thumbnail': {'thumbnail': 'https://b.thumbs.redditmedia.com/FAS_fWvrpmzuPN6Rh67I9ahmovzoe-titgZNilnewpk.jpg',
  'height': 121,
  'width': 140},
 'created_utc': 1502621109.0,
 'author': 'DrarenThiralas',
 'id': '6tehbc',
 'ups': 87082,
 'downs': 0,
 'media': 'https://i.redd.it/7wgs4dkiihfz.png'}

#### Reading a Excel file

In [11]:
# df = pd.read_excel("<excel file path>")

#### Interacting with web APIs

In [12]:
import requests

# site you want to access
url = "<site_url>"

# # response
# response = requests.get(url)

.---------------------------------------------------------------------------------------------------

### **3. Cleaning and Tansforming**

* **Remove major errors, duplicates, and outliers**
* **String manipulation** - Correct the string data (lower, fixing typos or layout issues, capitalize)
* **Transforming the necessary fields** - Transform the data, split fields, concatenate fields, transform fields, substitute NaN values or place than when necessary ...
* **Filling missing gaps** - utilize *FFNN*, forward fill, mean values, median values, subtitute a string field with a similary field, backward fill, interpolation, multiple imputation,K-Nearest Neighbors Imputations (KNNImputer), ...

In [13]:
# # To use this cell just -->   ctrl + /

# import re # for regex cleaning

# # Commads to clean data 

# # Drop NA values
# df = df.dropna() # Save to a new df, same df or save inplace
# # The same as 
# df[df.notnull()]

# # Drop columms
# df = df.drop(columns = "<Column_you_dont_want>")

# # Fill NA 
# new_df = df.fillna() # complete with args you want ffll, bbll ...
# df.fillna('')


# # Check if theres is null
# df.isnull()

# # Check if not null
# df.notnull()

# # Removing duplicates
# df.drop_duplicates()
# df.drop_duplicates(["<some_key>"])

# # Lowering case string
# lower = df['<field_name>'].str.lower()

# # endswith / startswitch / contains
# df.str.endswith('<pattern_value>')
# df.str.startswith('<pattern_value>')
# df.str.contains('<pattern_value>')

# # join method
# # find method

# # Using map function to map values
# df['<field_name>'].map(lambda x: <dictionary_name>[x.lower()])

# # Replace values
# df['<field_name>'] = df['<field_name>'].replace({"<value_1>": "<new_value_1>","<value_2>": "<new_value_2>"})
# df.replace("<value>", "<new_value>")
# df['<phone_number>'] = df['<phone_number>'].str.replace('[^a-zA-Z0-9]','') # regex style
# df['<phone_number>'].apply(lambda x: str(x))
# df['<phone_number>'].apply(lambda x: x[:3]+"-"+x[3:6]+"-")

# # Split string data
# df[['<new_collumn_name_1>','<new_collumn_name_2>']] = df['<field_name>'].str.split("<symbol_you_want_to_spli>", expand=True)
# df[['<new_collumn_name_1>','<new_collumn_name_2>']] = df['<field_name>'].str.split("<symbol_you_want_to_spli>",n=1, expand=True)

# # Striping
# df['<field_name>'] = df['<field_name>'].str.lstrip("<string_you_want_to_remove>")
# df['<field_name>'] = df['<field_name>'].str.rstrip("<string_you_want_to_remove>")
# df['<field_name>'] = df['<field_name>'].str.strip("<string_you_want_to_remove>")

# # Regex methods usinf re or str
# # .findall()
# # .finditer()
# # .match()
# # .search()
# # .split()
# # .sub
# # .subn

In [14]:
# Some imports for transformation and preprocessing data (scikit-learn library)
from sklearn.preprocessing import StandardScaler, Normalizer, OneHotEncoder, OrdinalEncoder

#### Some links for data transformation
https://scikit-learn.org/stable/data_transforms.html
https://pandas.pydata.org/docs/reference/api/pandas.merge.html
https://pandas.pydata.org/docs/reference/api/pandas.concat.html
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [15]:
# # To use this cell just -->   ctrl + /

# # Transforming data
# # Few of the tansformations 

# # Changing data types
# df.astype({'<column_you_want_to_change>': '<type_you_want'})


# # New column/Field
# df['<new_col_name>'] = df['<col_1>'] * 10
# df['<new_col_name>'] = 1
# df[['<new_col_name>', '<new_col_name>']] = 1
# df = df.assign()


# # Encoding/ One-hot-encode (transformin categorical / string/ tokens variables to numerical)
# dummies = pd.get_dummies(data="<df["column"]>", prefix="<String to append DataFrame column names>", dtype="<type_variable(int,float,...)")
# df_dummies = pd.concat([df, dummies], axis=1)
# # or
# df_dummies = df.join(dummies)
# df = pd.get_dummies(df, columns=['<coloumn_name)'])
# # OneHotEncoder() from Sklearn library


# # Data binning
# # Continuos data can be separated in bins
# bins = [10, 30, 45, 60, 100]
# new_df["<new_column>"] = pd.cut(data=df['<column>'], bins=bins, precision=2)
# # bins with quantils
# new_data = pd.qcut(data=df['<column>'], q=<number_of_quantiles>)
# new_data = pd.qcut(data=df['<column>'], q=<number_of_quantiles>, labels=["<label_1>", "<label_2>","<label_3>"])


# # Data Scaling
# # Standardization, or mean removal and variance scaling


# # Define the scaler
# # Standardization
# scaler = preprocessing.StandardScalar()
# # Scaling features to a range (MinMaxScaler()[0, 1] or MaxAbsScaler()[-1, 1])
# scaler = preprocessing.MinMaxScaler()


# # transform data
# scaled = scaler.fit_transform(data)


# # Normalization - is the process of scaling individual samples to have unit norm.
# X_normalized = preprocessing.normalize(X, norm='l2') # norms = l1, l2, or max
# normalizer = preprocessing.Normalizer()
# normalized = normalizer.fit_transform(data)


# # Conditional Filtering data

# # Filtering columns
# new_df = df[['<col_1>', '<col_2>']]

# # Filtering rows with conditions
# cond_1 = df[df['<col_1>'] > 35] # Return the rows for which the col <col_1> are greater than 35
# # Could be >, <, ==, !=, <=,...
# # Conditional expression
# cond_2 = df[df['<col_1>'].isin('<list_values>')]
# cond_3 = df[cond_1 = df[(df['<col_1>'] == 2) | (df['<col_1>'] ==3)] # Each condition must be surrounded by parentheses (),  | - or, & - and.

# Selecting a specific rows and columns from a DataFrama
# df.loc[df['<col>'] > 6, ['<name_col_you_want>']]
# df.loc[(df['<col_1>'] > 1) & (df['<col_2>'] < 8)]
# Setting values
# df.loc[['<row_1>', '<row_2>'], ['<condition_you_want>']] = 50 # Set value for all items matching the list of labels

# # Data Modification inside Dataframe
# df = df.apply('<func_name>', axis=0)


# # Data Aggregation
# df.groupby('<col_name>').agg('min') # Aggregation is for each column.
# df.groupby('<col_name>').agg(lambda x: sum(x) + 2) # Example using function.
# df = df.agg(func=['<func_name>','<func_name>'], axis=0)
# df.agg({'<col_name>' : ['sum', 'min'], '<col_name>' : ['min', 'max']}) # Different aggregations per column.



# # Joining data from different sources
# # Merge in dataframe or join in relational databases like SQL
# # There are a lot of ways on how to join different data, some examples are:

# new_df = pd.merge(left='<df1>', 
#                 right='<df2>',
#                 how='<method_of_merger>', # can be ['inner', 'left', 'right', 'outer', 'cross',...]
#                 on='<col_or_index_to_join_on>',
#                 suffixes='<tuple_of_str_for_name>')

# new_df = pd.merge(left='<df1>', 
#                 right='<df2>',
#                 how='<method_of_merger>',
#                 left_on='<col_or_index_to_join_on_in_the_left_DataFrame>')

# new_df = <df1>'.merge('<df2>', how='<method_of_merger>', on='<col_or_index_to_join_on>')


# # Concatenation of data
# new_concat_df = pd.concat(objs="<['<df1>','<df2>','<df3>']>",
#                           axis='<0>-rows_or_<1>_column', 
#                           ignore_index='<bool>',) # defaul False. If True, do not use index values along concat axis.

.---------------------------------------------------------------------------------------------------

## Exploratory Data Analysis
Is an approach of analyzing data sets to summarize their main characteristics, often using statistical graphics and other data visualization methods.


### **4. Analyze**
* Sort and filter data
* Identify patterns and draw conclusions
* Make predictions and recommendations
* Make data-driven decisions

Obtaining basic information about data

In [20]:
# dataframe
df = pd.read_csv("../Data/data_for_da/BankChurners.csv")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [ ]:
# show first 5 
df.head()