# **DATA ANALYSIS process**

#### **Ask**
* Ask effective questions
* Define the problem
* Use structured thinking
* Communicate with others

#### **Prepare**
* Undestand how data is generated and collected
* Identify and use different data formats, types, and structures
* Make sure data is unbiased and credible
* Organize and protect data

#### **Process**
* Create and transform data
* Maintain data integrity
* Test data
* Clean data
* Verify and report on cleaning results

#### **Analyze**
* Use tools to format and transform data
* Sort and filter data
* Identify patterns and draw conclusions
* Make predictions and recommendations
* Make data-driven decisions

#### **Share**
* Understand visualization
* Create effective visuals
* Bring data to life
* Use data storytelling
* Communicate to help others understand results

#### **Act**
* Apply your insights
* Solve problems
* Make decisions
* Create something new

----------------------------------------------------------
## *TIPS*

* Have methods for everything you do 
* Always document what you do
* Manage expeectations
* 2 minutes rule 
    - If some task can be done within 2 minutes, always do it.
* Take time to understand the problem and plan the next steps
* Always doublecheck your work
* Mistakes will happen eventually
    - Try to keep it cool and work through it 
* **Always formalize and or document dates, deliverables and deadlines. (SCOPE OF WORK)**
------------------------------------------------------------


## Scope of work

**Data team:** (Team members)


**Client/Sponsor/Stakeholders:** (Stakeholders)


**Purpose:** Write a brief description of why this project is happenning. *Why is this project happening? What are the goals?* 


**Scope / Major Project Activities:** 
*What are the major parts of this project? List out the high-level steps, activities, or stages of the project, and give a brief description for each.*

Activity | Description
--- | ---
activity_1 | description_1


**This project does not include:**
*Specify the things that this project isn’t responsible for doing (out of scope).*
* Out of scope 1
* Out of scope 2


**Deliverables:** 
*A specific list of things that your project will deliver.*

Deliverable | Description/ Details
--- | ---
deliverable_1 | description_1


**Schedule Overview / Major Milestones:** 
*The expected schedule for the project. This can be defined by milestones (e.g. “all data is cleaned and processed”), periods of time (“Week 1 / Week 2”), or other ways based on the needs of the project.*

Milestone | Expected Completion Date* | Description/Details
--- | --- | ---
milestone_1 | date_1 | description_1

*Estimated date for completion: This is my “if all goes well and I have everything I need, this is when I’ll be done” date.

**Always manage expectations**

----------------------------------------------------------------------------

### **1. Ask**
* Ask effective questions
* Define the problem
* Use structured thinking
* Communicate with others

.-----------------------------------------------------------------------------------------------------

### **2. Collect**
* Undestand how data is generated and collected
* Identify and use different data formats, types, and structures

In [1]:
# IMPORTS 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##### Importing data via connection with RDBMS

##### Connect to the PostgreSQL server

In [2]:
import psycopg2

# Connect to the PostgreSQL server
# connection = psycopg2.connect(
#     host="localhost",       # or your PostgreSQL server's IP address
#     database="your_db_name", # replace with your database name
#     user="your_username",    # replace with your database username
#     password="your_password" # replace with your database password
# )

# Create a cursor object to interact with the database
# cursor = connection.cursor()

# Create a table
# cursor.execute('''
# CREATE TABLE IF NOT EXISTS users (
#     id INT AUTO_INCREMENT PRIMARY KEY,
#     name VARCHAR(100),
#     age INT
# )
# ''')

# Commit the changes
# connection.commit()

# Insert data into the table
# cursor.execute("INSERT INTO users (name, age) VALUES (%s, %s)", ("John Doe", 30))

# Commit the transaction
# connection.commit()

# Query data from the table
# cursor.execute("SELECT * FROM users")

# Fetch all results
# rows = cursor.fetchall()

# Print the results
# for row in rows:
#     print(row)

# Close the cursor and connection
# cursor.close()
# connection.close()

##### Connect to the MySQL

In [3]:
import mysql.connector

In [4]:
# Establish the connection to MySQL
# connection = mysql.connector.connect(
#     host="localhost",        # or your MySQL server's IP address
#     database="your_db_name", # replace with your database name
#     user="your_username",    # replace with your MySQL username
#     password="your_password" # replace with your MySQL password
# )

# Create a cursor object to interact with the database
# cursor = connection.cursor()


# Close the cursor and connection
# cursor.close()
# connection.close()

##### Connect to MongoDB

In [5]:
from pymongo import MongoClient

In [6]:
# # Put this on the .env file and use load_dotenv() to retrive
# # Replace with your actual MongoDB credentials and database details
# username = 'your_username'
# password = 'your_password'
# host = 'localhost'  # or remote MongoDB host
# port = '27017'  # default port
# database_name = 'your_database'  # database you want to connect to
# auth_db = 'admin'  # database where credentials are stored (often 'admin')

# # Create the connection string with authentication
# connection_string = f'mongodb://{username}:{password}@{host}:{port}/{database_name}?authSource={auth_db}'

# # Connect to MongoDB using the connection string
# client = MongoClient(connection_string)

# # Access the database
# db = client[database_name]

# # Check the connection by getting server status
# try:
#     # Attempt to retrieve the server status to verify the connection
#     server_status = db.command("serverStatus")
#     print("Connection successful:", server_status)
# except Exception as e:
#     print("Error connecting to MongoDB:", e)

# # Close the connection
# client.close()

# Check documentation if something is wrong:https://www.mongodb.com/resources/languages/python

##### Connect to SAS using SASPy

In [7]:
# import saspy
# Find the configuration file (saspy.py) or create a new one if necessary.
# Modify it with the connection details:
# saspy.SAS_config_names = ['sas_config']

# sas_config = {
#     'sas_config': {
#         'saspath': '/path/to/sas',
#         'options': ["-fullstimer"],
#         'encoding': 'latin1'
#     }
# }
# Replace '/path/to/sas' with the actual path to your SAS executable

# sas = saspy.SASsession(cfgname='sas_config')  # Use the configuration you set up
# sas.submit("data test; input x; datalines; 1; 2; 3; run;")  # Example SAS code
# sas.saslib('test')  # Access the dataset

#### Connecting Python with AWS step-by-step

1. Install Boto3
`pip install boto3`

2. Set up AWS Credentials
    * AWS CLI
        * bash command: 
            - aws configure

    * Manually Set AWS Credentials
        * C:\Users\Name\\.aws\credentials
            - [default]
            - aws_access_key_id = YOUR_ACCESS_KEY
            - aws_secret_access_key = YOUR_SECRET_KEY
    
    * Environment Variables
        * bash command: 
            - export AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
            - export AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY
            - export AWS_DEFAULT_REGION=us-west-2

In [8]:
import boto3
from dotenv import load_dotenv
import os

# Load .env credentials
load_dotenv()

# Credentials in a file .env
ACCESS_KEY=os.environ.get("ACCESS_KEY")
SECRET_KEY = os.environ.get("SECRET_KEY")

# # Uncomment to use this part
# # Create a Boto3 session
# session = boto3.Session(
#     aws_access_key_id=ACCESS_KEY,
#     aws_secret_access_key=SECRET_KEY,
#     region_name="sa-east-1"
# )

# session= None # optional, don't need to explicit close the session.

#### Reading a CSV file

In [9]:
# dataframe
df = pd.read_csv("../Data/data_for_da/BankChurners.csv")

# show first 5 
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

#### Reading a JSON file

In [10]:
# dataframe
df = pd.read_json("../Data/data_for_da/db_json_example.json")

# show first 5 
print(df.head())
# Checking one item
df['_default'][1]

                                            _default
1  {'title': 'Num🅱er One', 'thumbnail': {'thumbna...
2  {'title': 'Got ‘em', 'thumbnail': {'thumbnail'...
3  {'title': '50-0', 'thumbnail': {'thumbnail': '...
4  {'title': 'Allow', 'thumbnail': {'thumbnail': ...
5  {'title': '*mild concern*', 'thumbnail': {'thu...

{'title': 'Num🅱er One',
 'thumbnail': {'thumbnail': 'https://b.thumbs.redditmedia.com/FAS_fWvrpmzuPN6Rh67I9ahmovzoe-titgZNilnewpk.jpg',
  'height': 121,
  'width': 140},
 'created_utc': 1502621109.0,
 'author': 'DrarenThiralas',
 'id': '6tehbc',
 'ups': 87082,
 'downs': 0,
 'media': 'https://i.redd.it/7wgs4dkiihfz.png'}

#### Reading a Excel file

In [11]:
# df = pd.read_excel("<excel file path>")

#### Interacting with web APIs

In [12]:
import requests

# site you want to access
url = "<site_url>"

# # response
# response = requests.get(url)

.---------------------------------------------------------------------------------------------------

### **3. Cleaning and Tansforming**

* **Remove major errors, duplicates, and outliers**
* **String manipulation** - Correct the string data (lower, fixing typos or layout issues, capitalize)
* **Transforming the necessary fields** - Transform the data, split fields, concatenate fields, transform fields, substitute NaN values or place than when necessary ...
* **Filling missing gaps** - utilize *FFNN*, forward fill, mean values, median values, subtitute a string field with a similary field, backward fill, interpolation, multiple imputation,K-Nearest Neighbors Imputations (KNNImputer), ...

In [13]:
# # To use this cell just -->   ctrl + /

# import re # for regex cleaning

# # Commads to clean data 

# # Drop NA values
# df = df.dropna() # Save to a new df, same df or save inplace
# # The same as 
# df[df.notnull()]

# # Drop columms
# df = df.drop(columns = "<Column_you_dont_want>")

# # Fill NA 
# new_df = df.fillna() # complete with args you want ffll, bbll ...
# df.fillna('')


# # Check if theres is null
# df.isnull()

# # Check if not null
# df.notnull()

# # Removing duplicates
# df.drop_duplicates()
# df.drop_duplicates(["<some_key>"])

# # Lowering case string
# lower = df['<field_name>'].str.lower()

# # endswith / startswitch / contains
# df.str.endswith('<pattern_value>')
# df.str.startswith('<pattern_value>')
# df.str.contains('<pattern_value>')

# # join method
# # find method

# # Using map function to map values
# df['<field_name>'].map(lambda x: <dictionary_name>[x.lower()])

# # Replace values
# df['<field_name>'] = df['<field_name>'].replace({"<value_1>": "<new_value_1>","<value_2>": "<new_value_2>"})
# df.replace("<value>", "<new_value>")
# df['<phone_number>'] = df['<phone_number>'].str.replace('[^a-zA-Z0-9]','') # regex style
# df['<phone_number>'].apply(lambda x: str(x))
# df['<phone_number>'].apply(lambda x: x[:3]+"-"+x[3:6]+"-")

# # Split string data
# df[['<new_collumn_name_1>','<new_collumn_name_2>']] = df['<field_name>'].str.split("<symbol_you_want_to_spli>", expand=True)
# df[['<new_collumn_name_1>','<new_collumn_name_2>']] = df['<field_name>'].str.split("<symbol_you_want_to_spli>",n=1, expand=True)

# # Striping
# df['<field_name>'] = df['<field_name>'].str.lstrip("<string_you_want_to_remove>")
# df['<field_name>'] = df['<field_name>'].str.rstrip("<string_you_want_to_remove>")
# df['<field_name>'] = df['<field_name>'].str.strip("<string_you_want_to_remove>")

# # Regex methods usinf re or str
# # .findall()
# # .finditer()
# # .match()
# # .search()
# # .split()
# # .sub
# # .subn

In [14]:
# Some imports for transformation and preprocessing data (scikit-learn library)
from sklearn.preprocessing import StandardScaler, Normalizer, OneHotEncoder, OrdinalEncoder

#### Some links for data transformation
https://scikit-learn.org/stable/data_transforms.html
https://pandas.pydata.org/docs/reference/api/pandas.merge.html
https://pandas.pydata.org/docs/reference/api/pandas.concat.html
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [15]:
# # To use this cell just -->   ctrl + /

# # Transforming data
# # Few of the tansformations 

# # Changing data types
# df.astype({'<column_you_want_to_change>': '<type_you_want'})


# # New column/Field
# df['<new_col_name>'] = df['<col_1>'] * 10
# df['<new_col_name>'] = 1
# df[['<new_col_name>', '<new_col_name>']] = 1
# df = df.assign()


# # Encoding/ One-hot-encode (transformin categorical / string/ tokens variables to numerical)
# dummies = pd.get_dummies(data="<df["column"]>", prefix="<String to append DataFrame column names>", dtype="<type_variable(int,float,...)")
# df_dummies = pd.concat([df, dummies], axis=1)
# # or
# df_dummies = df.join(dummies)
# df = pd.get_dummies(df, columns=['<coloumn_name)'])
# # OneHotEncoder() from Sklearn library


# # Data binning
# # Continuos data can be separated in bins
# bins = [10, 30, 45, 60, 100]
# new_df["<new_column>"] = pd.cut(data=df['<column>'], bins=bins, precision=2)
# # bins with quantils
# new_data = pd.qcut(data=df['<column>'], q=<number_of_quantiles>)
# new_data = pd.qcut(data=df['<column>'], q=<number_of_quantiles>, labels=["<label_1>", "<label_2>","<label_3>"])


# # Data Scaling
# # Standardization, or mean removal and variance scaling


# # Define the scaler
# # Standardization
# scaler = preprocessing.StandardScalar()
# # Scaling features to a range (MinMaxScaler()[0, 1] or MaxAbsScaler()[-1, 1])
# scaler = preprocessing.MinMaxScaler()


# # transform data
# scaled = scaler.fit_transform(data)


# # Normalization - is the process of scaling individual samples to have unit norm.
# X_normalized = preprocessing.normalize(X, norm='l2') # norms = l1, l2, or max
# normalizer = preprocessing.Normalizer()
# normalized = normalizer.fit_transform(data)


# # Conditional Filtering data

# # Filtering columns
# new_df = df[['<col_1>', '<col_2>']]

# # Filtering rows with conditions
# cond_1 = df[df['<col_1>'] > 35] # Return the rows for which the col <col_1> are greater than 35
# # Could be >, <, ==, !=, <=,...
# # Conditional expression
# cond_2 = df[df['<col_1>'].isin('<list_values>')]
# cond_3 = df[cond_1 = df[(df['<col_1>'] == 2) | (df['<col_1>'] ==3)] # Each condition must be surrounded by parentheses (),  | - or, & - and.

# Selecting a specific rows and columns from a DataFrama
# df.loc[df['<col>'] > 6, ['<name_col_you_want>']]
# df.loc[(df['<col_1>'] > 1) & (df['<col_2>'] < 8)]
# Setting values
# df.loc[['<row_1>', '<row_2>'], ['<condition_you_want>']] = 50 # Set value for all items matching the list of labels

# # Data Modification inside Dataframe
# df = df.apply('<func_name>', axis=0)


# # Data Aggregation
# df.groupby('<col_name>').agg('min') # Aggregation is for each column.
# df.groupby('<col_name>').agg(lambda x: sum(x) + 2) # Example using function.
# df = df.agg(func=['<func_name>','<func_name>'], axis=0)
# df.agg({'<col_name>' : ['sum', 'min'], '<col_name>' : ['min', 'max']}) # Different aggregations per column.



# # Joining data from different sources
# # Merge in dataframe or join in relational databases like SQL
# # There are a lot of ways on how to join different data, some examples are:

# new_df = pd.merge(left='<df1>', 
#                 right='<df2>',
#                 how='<method_of_merger>', # can be ['inner', 'left', 'right', 'outer', 'cross',...]
#                 on='<col_or_index_to_join_on>',
#                 suffixes='<tuple_of_str_for_name>')

# new_df = pd.merge(left='<df1>', 
#                 right='<df2>',
#                 how='<method_of_merger>',
#                 left_on='<col_or_index_to_join_on_in_the_left_DataFrame>')

# new_df = <df1>'.merge('<df2>', how='<method_of_merger>', on='<col_or_index_to_join_on>')


# # Concatenation of data
# new_concat_df = pd.concat(objs="<['<df1>','<df2>','<df3>']>",
#                           axis='<0>-rows_or_<1>_column', 
#                           ignore_index='<bool>',) # defaul False. If True, do not use index values along concat axis.

.---------------------------------------------------------------------------------------------------

## Exploratory Data Analysis
Is an approach of analyzing data sets to summarize their main characteristics, often using statistical graphics and other data visualization methods.

### TIPS
* Have methods for everything you do 
* Always document what you do

### **4. Analyze**
* Sort and filter data
* Identify patterns and draw conclusions
* Make predictions and recommendations
* Make data-driven decisions

Obtaining basic information about data

In [16]:
# dataframe
df = pd.read_csv("../Data/data_for_da/BankChurners.csv")

* Obtaining name columns (features), number of rows (observations), non-null rows, type of the features

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [18]:
# Columns in dataframe
df.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [19]:
# Length of df (number of observations)
len(df)

10127

* Changing type of a column

In [20]:
df = df.astype({"CLIENTNUM": "str"})
df= df.astype({"Gender": "category", "Card_Category":"category"})
# df[['<col.name1>', '<col.name2>','<...>']] = df[['<col.name1>', '<col.name2>','<...>']].astype('data_type')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  object
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  category
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  category
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: category(2), float64(7), int64(9), object(5)
memory usage: 1.6+ MB

* Showing first 5 rows of data

In [21]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

* Checking duplicated rows

In [22]:
print(df[df.duplicated()])

Empty DataFrame
Columns: [CLIENTNUM, Attrition_Flag, Customer_Age, Gender, Dependent_count, Education_Level, Marital_Status, Income_Category, Card_Category, Months_on_book, Total_Relationship_Count, Months_Inactive_12_mon, Contacts_Count_12_mon, Credit_Limit, Total_Revolving_Bal, Avg_Open_To_Buy, Total_Amt_Chng_Q4_Q1, Total_Trans_Amt, Total_Trans_Ct, Total_Ct_Chng_Q4_Q1, Avg_Utilization_Ratio, Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1, Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2]
Index: []

[0 rows x 23 columns]

In [23]:
print(df.duplicated().sum())

0

* Checking missing values

In [24]:
df.isna().sum()

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

* Summary statistics of numerical columns

In [25]:
df.describe()

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894,0.159997,0.840003
std,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691,0.365301,0.365301
min,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000420
25%,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000,0.000099,0.999660
50%,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000,0.000181,0.999820
75%,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000,0.000337,0.999900
max,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,0.999580,0.999990

In [26]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Customer_Age,10127.0,46.325960,8.016814,26.000000,41.000000,46.000000,52.000000,73.00000
Dependent_count,10127.0,2.346203,1.298908,0.000000,1.000000,2.000000,3.000000,5.00000
Months_on_book,10127.0,35.928409,7.986416,13.000000,31.000000,36.000000,40.000000,56.00000
Total_Relationship_Count,10127.0,3.812580,1.554408,1.000000,3.000000,4.000000,5.000000,6.00000
Months_Inactive_12_mon,10127.0,2.341167,1.010622,0.000000,2.000000,2.000000,3.000000,6.00000
Contacts_Count_12_mon,10127.0,2.455317,1.106225,0.000000,2.000000,2.000000,3.000000,6.00000
Credit_Limit,10127.0,8631.953698,9088.776650,1438.300000,2555.000000,4549.000000,11067.500000,34516.00000
Total_Revolving_Bal,10127.0,1162.814061,814.987335,0.000000,359.000000,1276.000000,1784.000000,2517.00000
Avg_Open_To_Buy,10127.0,7469.139637,9090.685324,3.000000,1324.500000,3474.000000,9859.000000,34516.00000
Total_Amt_Chng_Q4_Q1,10127.0,0.759941,0.219207,0.000000,0.631000,0.736000,0.859000,3.39700
Total_Trans_Amt,10127.0,4404.086304,3397.129254,510.000000,2155.500000,3899.000000,4741.000000,18484.00000
Total_Trans_Ct,10127.0,64.858695,23.472570,10.000000,45.000000,67.000000,81.000000,139.00000
Total_Ct_Chng_Q4_Q1,10127.0,0.712222,0.238086,0.000000,0.582000,0.702000,0.818000,3.71400
Avg_Utilization_Ratio,10127.0,0.274894,0.275691,0.000000,0.023000,0.176000,0.503000,0.99900
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,10127.0,0.159997,0.365301,0.000008,0.000099,0.000181,0.000337,0.99958
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,10127.0,0.840003,0.365301,0.000420,0.999660,0.999820,0.999900,0.99999

* Selecting non numerical columns

In [27]:
string_columns = []

for col in df.columns:
    if df[col].dtypes == "object":
        string_columns.append(col)

print(string_columns)

['CLIENTNUM', 'Attrition_Flag', 'Education_Level', 'Marital_Status', 'Income_Category']

In [28]:
for col in string_columns[1:]:
    categories = df.groupby(col).size()
    print(categories)

Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64
Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64
Marital_Status
Divorced     748
Married     4687
Single      3943
Unknown      749
dtype: int64
Income_Category
$120K +            727
$40K - $60K       1790
$60K - $80K       1402
$80K - $120K      1535
Less than $40K    3561
Unknown           1112
dtype: int64

In [29]:
result = {}
for col in string_columns[1:]:
    result[col] = df.groupby(col).size()
    print(result)

{'Attrition_Flag': Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64}
{'Attrition_Flag': Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64, 'Education_Level': Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64}
{'Attrition_Flag': Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64, 'Education_Level': Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64, 'Marital_Status': Marital_Status
Divorced     748
Married     4687
Single      3943
Unknown      749
dtype: int64}
{'Attrition_Flag': Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64, 'Education_Level': Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64, 'Marital_Status': Marital_Status
Divorced     748
Married     4687
Single      3943
Unknown      749
dtype: int64, 'Income_Category': Income_Category
$120K +            727
$40K - $60K       1790
$60K - $80K       1402
$80K - $120K      1535
Less than $40K    3561
Unknown           1112
dtype: int64}

In [30]:
result.keys()

dict_keys(['Attrition_Flag', 'Education_Level', 'Marital_Status', 'Income_Category'])

In [31]:
result.items()

dict_items([('Attrition_Flag', Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64), ('Education_Level', Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64), ('Marital_Status', Marital_Status
Divorced     748
Married     4687
Single      3943
Unknown      749
dtype: int64), ('Income_Category', Income_Category
$120K +            727
$40K - $60K       1790
$60K - $80K       1402
$80K - $120K      1535
Less than $40K    3561
Unknown           1112
dtype: int64)])

In [32]:
result['Attrition_Flag']

Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64

In [33]:
for val in string_columns[1:]:
    result[val]
    print(result)

{'Attrition_Flag': Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64, 'Education_Level': Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64, 'Marital_Status': Marital_Status
Divorced     748
Married     4687
Single      3943
Unknown      749
dtype: int64, 'Income_Category': Income_Category
$120K +            727
$40K - $60K       1790
$60K - $80K       1402
$80K - $120K      1535
Less than $40K    3561
Unknown           1112
dtype: int64}
{'Attrition_Flag': Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64, 'Education_Level': Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64, 'Marital_Status': Marital_Status
Divorced     748
Married     4687
Single      3943
Unknown      749
dtype: int64, 'Income_Category': Income_Category
$120K +            727
$40K - $60K       1790
$60K - $80K       1402
$80K - $120K      1535
Less than $40K    3561
Unknown           1112
dtype: int64}
{'Attrition_Flag': Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64, 'Education_Level': Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64, 'Marital_Status': Marital_Status
Divorced     748
Married     4687
Single      3943
Unknown      749
dtype: int64, 'Income_Category': Income_Category
$120K +            727
$40K - $60K       1790
$60K - $80K       1402
$80K - $120K      1535
Less than $40K    3561
Unknown           1112
dtype: int64}
{'Attrition_Flag': Attrition_Flag
Attrited Customer    1627
Existing Customer    8500
dtype: int64, 'Education_Level': Education_Level
College          1013
Doctorate         451
Graduate         3128
High School      2013
Post-Graduate     516
Uneducated       1487
Unknown          1519
dtype: int64, 'Marital_Status': Marital_Status
Divorced     748
Married     4687
Single      3943
Unknown      749
dtype: int64, 'Income_Category': Income_Category
$120K +            727
$40K - $60K       1790
$60K - $80K       1402
$80K - $120K      1535
Less than $40K    3561
Unknown           1112
dtype: int64}

### Creating some hypothesis

Let's check some clients

In [34]:
df['Customer_Age']>52

0        False
1        False
2        False
3        False
4        False
         ...
10122    False
10123    False
10124    False
10125    False
10126    False
Name: Customer_Age, Length: 10127, dtype: bool

In [35]:
df[df['Customer_Age']>52].sort_values('Customer_Age')

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
3468,720865383,Existing Customer,53,M,3,Graduate,Single,$120K +,Blue,45,...,3378.0,1852,1526.0,0.483,4437,50,1.000,0.548,0.000113,0.99989
3368,802031583,Existing Customer,53,M,2,Uneducated,Single,$80K - $120K,Blue,47,...,22855.0,0,22855.0,0.741,3711,83,0.804,0.000,0.000034,0.99997
3345,716358033,Existing Customer,53,F,1,Graduate,Single,Less than $40K,Blue,43,...,6189.0,0,6189.0,0.538,5004,65,0.806,0.000,0.000484,0.99952
93,789140283,Existing Customer,53,M,0,Graduate,Single,$80K - $120K,Blue,42,...,2664.0,2037,627.0,0.850,1286,29,0.933,0.765,0.000112,0.99989
9909,719400108,Existing Customer,53,M,3,Unknown,Single,$80K - $120K,Blue,43,...,34516.0,1084,33432.0,0.686,14319,124,0.699,0.031,0.000589,0.99941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,717296808,Existing Customer,67,F,1,Graduate,Married,Less than $40K,Blue,56,...,3006.0,2517,489.0,2.053,1661,32,1.000,0.837,0.000169,0.99983
198,708868233,Attrited Customer,68,M,0,High School,Married,Less than $40K,Blue,52,...,1438.3,900,538.3,0.743,760,21,0.615,0.626,0.993380,0.00662
151,712720158,Existing Customer,68,M,1,Graduate,Married,Unknown,Blue,56,...,13860.0,1652,12208.0,1.255,1910,32,1.909,0.119,0.000180,0.99982
254,787348608,Existing Customer,70,M,0,High School,Married,Less than $40K,Blue,56,...,3252.0,1495,1757.0,0.581,1227,15,0.875,0.460,0.000160,0.99984
251,715952883,Existing Customer,73,M,0,High School,Married,$40K - $60K,Blue,36,...,4469.0,1125,3344.0,1.363,1765,34,1.615,0.252,0.000150,0.99985

In [36]:
df[(df['Customer_Age']>52) & (df["Gender"]=="M")]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
11,710821833,Existing Customer,65,M,1,Unknown,Married,$40K - $60K,Blue,54,...,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174,0.000198,0.999800
12,710599683,Existing Customer,56,M,1,College,Single,$80K - $120K,Blue,36,...,11751.0,0,11751.0,3.397,1539,17,3.250,0.000,0.000048,0.999950
18,806160108,Existing Customer,61,M,1,High School,Married,$40K - $60K,Blue,56,...,3193.0,2517,676.0,1.831,1336,30,1.143,0.788,0.000175,0.999830
24,789124683,Existing Customer,54,M,2,Unknown,Married,$80K - $120K,Blue,42,...,12217.0,0,12217.0,1.075,1110,21,0.750,0.000,0.000210,0.999790
26,720466383,Existing Customer,59,M,1,High School,Unknown,$40K - $60K,Blue,46,...,14784.0,1374,13410.0,0.921,1197,23,1.300,0.093,0.000050,0.999950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10098,716644008,Attrited Customer,55,M,3,Graduate,Single,$120K +,Silver,36,...,34516.0,0,34516.0,1.007,9931,70,0.750,0.000,0.997940,0.002062
10107,713924283,Attrited Customer,61,M,0,Graduate,Single,$60K - $80K,Blue,54,...,11859.0,1644,10215.0,0.866,8930,79,0.837,0.139,0.992680,0.007320
10110,718225683,Existing Customer,56,M,1,Graduate,Single,$80K - $120K,Silver,49,...,34516.0,1091,33425.0,0.640,15274,108,0.714,0.032,0.000097,0.999900
10117,712503408,Existing Customer,57,M,2,Graduate,Married,$80K - $120K,Blue,40,...,17925.0,1909,16016.0,0.712,17498,111,0.820,0.106,0.000516,0.999480
10120,710841183,Existing Customer,54,M,1,High School,Single,$60K - $80K,Blue,34,...,13940.0,2109,11831.0,0.660,15577,114,0.754,0.151,0.000038,0.999960

In [37]:
df[df['Customer_Age']>52]['Attrition_Flag'].value_counts()

Attrition_Flag
Existing Customer    1914
Attrited Customer     390
Name: count, dtype: int64

In [38]:
df[df['Attrition_Flag']=="Attrited Customer"].groupby(["Customer_Age"]).count().sort_values(["CLIENTNUM"],ascending=False)

,CLIENTNUM,Attrition_Flag,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
Customer_Age,,,,,,,,,,,,,,,,,,,,,
48,85,85,85,85,85,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,85
43,85,85,85,85,85,85,85,85,85,85,...,85,85,85,85,85,85,85,85,85,85
44,84,84,84,84,84,84,84,84,84,84,...,84,84,84,84,84,84,84,84,84,84
46,82,82,82,82,82,82,82,82,82,82,...,82,82,82,82,82,82,82,82,82,82
49,79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
45,79,79,79,79,79,79,79,79,79,79,...,79,79,79,79,79,79,79,79,79,79
41,76,76,76,76,76,76,76,76,76,76,...,76,76,76,76,76,76,76,76,76,76
47,76,76,76,76,76,76,76,76,76,76,...,76,76,76,76,76,76,76,76,76,76
50,71,71,71,71,71,71,71,71,71,71,...,71,71,71,71,71,71,71,71,71,71
54,69,69,69,69,69,69,69,69,69,69,...,69,69,69,69,69,69,69,69,69,69
40,64,64,64,64,64,64,64,64,64,64,...,64,64,64,64,64,64,64,64,64,64
42,62,62,62,62,62,62,62,62,62,62,...,62,62,62,62,62,62,62,62,62,62
53,59,59,59,59,59,59,59,59,59,59,...,59,59,59,59,59,59,59,59,59,59
52,58,58,58,58,58,58,58,58,58,58,...,58,58,58,58,58,58,58,58,58,58
51,58,58,58,58,58,58,58,58,58,58,...,58,58,58,58,58,58,58,58,58,58
55,51,51,51,51,51,51,51,51,51,51,...,51,51,51,51,51,51,51,51,51,51
39,48,48,48,48,48,48,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48
38,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
56,43,43,43,43,43,43,43,43,43,43,...,43,43,43,43,43,43,43,43,43,43
59,40,40,40,40,40,40,40,40,40,40,...,40,40,40,40,40,40,40,40,40,40
37,37,37,37,37,37,37,37,37,37,37,...,37,37,37,37,37,37,37,37,37,37
57,33,33,33,33,33,33,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
36,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
58,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
35,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21
33,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
34,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
61,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
32,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
62,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
30,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
31,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
60,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
65,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
63,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
29,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
26,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
64,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
27,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
28,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
66,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
68,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [39]:
df[(df['Attrition_Flag']=="Attrited Customer") & (df['Customer_Age']==26)]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
1634,778708533,Attrited Customer,26,F,0,High School,Single,$40K - $60K,Blue,13,...,1730.0,1616,114.0,0.331,869,27,0.286,0.934,0.99634,0.003656
1655,713259858,Attrited Customer,26,M,0,High School,Single,$40K - $60K,Blue,15,...,3324.0,0,3324.0,0.537,982,22,0.692,0.000,0.98723,0.012770
1752,804668658,Attrited Customer,26,F,0,Uneducated,Single,Less than $40K,Blue,20,...,1438.3,0,1438.3,0.506,947,20,0.053,0.000,0.99654,0.003458
1999,789777408,Attrited Customer,26,F,0,Post-Graduate,Single,Less than $40K,Blue,15,...,1442.0,1428,14.0,0.496,1134,26,0.238,0.990,0.99485,0.005150
2265,787463508,Attrited Customer,26,M,0,Graduate,Single,Less than $40K,Blue,13,...,2469.0,2410,59.0,0.544,1027,20,0.176,0.976,0.99645,0.003555
2284,710586483,Attrited Customer,26,F,0,High School,Single,Unknown,Blue,13,...,6152.0,0,6152.0,0.391,968,23,0.533,0.000,0.99634,0.003656

In [40]:
df[(df['Attrition_Flag']=="Attrited Customer") & (df['Customer_Age']==26)].groupby("Gender").count()

C:\Users\tiagocn\AppData\Local\Temp\ipykernel_14296\3195580174.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df[(df['Attrition_Flag']=="Attrited Customer") & (df['Customer_Age']==26)].groupby("Gender").count()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
Gender,,,,,,,,,,,,,,,,,,,,,
F,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
M,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

Most customer in an attrited situantion, have an age between 40 - 60 years old

# To understand the data better, it's necessary to visualize the data

## 5. Visualize, Visualize and Visualize

#### **Share**
* Understand visualization
* Create effective visuals
* Bring data to life
* Use data storytelling
* Communicate to help others understand results